#header {
  font-family: 'Oswald', sans-serif;
  background: url('/openedbooks.jpg');
  background-size: cover;
  color: #FFFFFF;
}

#header #inner {
  background: rgba(119, 79, 56, 0.85);
  padding: 1rem;
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0;
  flex-grow: 1;
}

#header h1 a {
  color: #FFFFFF;
  text-decoration: none;
}

#header h1 a:hover {
  color: #10d6d6;
  text-decoration: wavy underline;
}
#header a {
  color: #FFFFFF;
  text-decoration: none;
}